In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (50.3.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.1.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.17.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [3]:
data= pd.read_csv('BreadBasket_DMS - Arindam Dev.csv')

In [4]:
data=data.drop('Time',axis=1)
data=data.drop('Date',axis=1)
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[21293 rows x 3 columns]

In [5]:
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[21293 rows x 3 columns]

In [6]:
data['Item'].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'NONE',
       'Tartine', 'Basket', 'Mineral water', 'Farm House', 'Fudge',
       'Juice', "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

In [7]:
data.nunique()

id             21293
Transaction     9531
Item              95
dtype: int64

In [8]:
data.set_index("id")

       Transaction           Item
id
1                1          Bread
2                2   Scandinavian
3                2   Scandinavian
4                3  Hot chocolate
5                3            Jam
...            ...            ...
21289         9682         Coffee
21290         9682            Tea
21291         9683         Coffee
21292         9683         Pastry
21293         9684      Smoothies

[21293 rows x 2 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21293 non-null  int64
 1   Transaction  21293 non-null  int64
 2   Item         21293 non-null  object
dtypes: int64(2), object(1)
memory usage: 499.2+ KB

In [10]:
data[data['Transaction']<0].head()

Empty DataFrame
Columns: [id, Transaction, Item]
Index: []

In [11]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [12]:
data.head()

   id  Transaction           Item
0   1            1          Bread
1   2            2   Scandinavian
2   3            2   Scandinavian
3   4            3  Hot chocolate
4   5            3            Jam

In [13]:
data.describe()

                 id   Transaction
count  21293.000000  21293.000000
mean   10647.000000   4951.990889
std     6146.903977   2787.758400
min        1.000000      1.000000
25%     5324.000000   2548.000000
50%    10647.000000   5067.000000
75%    15970.000000   7329.000000
max    21293.000000   9684.000000

In [14]:
groupby= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',ascending=False)

In [15]:
groupby.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
NONE                   786
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Alfajores              369
Juice                  369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193

In [16]:
data.head(2)

   id  Transaction          Item
0   1            1         Bread
1   2            2  Scandinavian

In [17]:
data.head(10)

   id  Transaction           Item
0   1            1          Bread
1   2            2   Scandinavian
2   3            2   Scandinavian
3   4            3  Hot chocolate
4   5            3            Jam
5   6            3        Cookies
6   7            4         Muffin
7   8            5         Coffee
8   9            5         Pastry
9  10            5          Bread

In [18]:
groupby1= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',axis=0,ascending=False)
groupby1.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
NONE                   786
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Alfajores              369
Juice                  369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193

In [19]:
data['Item'].describe()

count      21293
unique        95
top       Coffee
freq        5471
Name: Item, dtype: object

In [20]:
data['Item'].value_counts().head(10)

Coffee           5471
Bread            3325
Tea              1435
Cake             1025
Pastry            856
NONE              786
Sandwich          771
Medialuna         616
Hot chocolate     590
Cookies           540
Name: Item, dtype: int64

In [21]:
data[data['Item']=='Coffee']

          id  Transaction    Item
7          8            5  Coffee
15        16            7  Coffee
28        29           12  Coffee
34        35           13  Coffee
44        45           16  Coffee
...      ...          ...     ...
21269  21270         9673  Coffee
21271  21272         9674  Coffee
21276  21277         9678  Coffee
21288  21289         9682  Coffee
21290  21291         9683  Coffee

[5471 rows x 3 columns]

In [22]:
print(len(data[data['Item']=='Coffee']))

5471

In [23]:
data['Transaction'].value_counts().head(10)

6474    12
6716    11
6279    11
6412    11
8835    10
9447    10
6045    10
3673    10
7245    10
3799     9
Name: Transaction, dtype: int64

In [24]:
groupby1= data[['Transaction','Item']].groupby('Item').count().sort_values('Transaction',axis=0,ascending=False)
groupby1.head(20)

               Transaction
Item
Coffee                5471
Bread                 3325
Tea                   1435
Cake                  1025
Pastry                 856
NONE                   786
Sandwich               771
Medialuna              616
Hot chocolate          590
Cookies                540
Brownie                379
Farm House             374
Muffin                 370
Alfajores              369
Juice                  369
Soup                   342
Scone                  327
Toast                  318
Scandinavian           277
Truffles               193

In [25]:

groupby1= data[['Transaction','Item']].groupby('Transaction').count().sort_values('Item',axis=0,ascending=False)
groupby1.tail(20)

             Item
Transaction
4576            1
4615            1
4598            1
4613            1
4612            1
4611            1
4610            1
4608            1
4605            1
4602            1
4594            1
4579            1
4593            1
4592            1
4591            1
4586            1
4585            1
4584            1
4582            1
9684            1

In [26]:
data.tail(10)

          id  Transaction              Item
21283  21284         9681               Tea
21284  21285         9681    Spanish Brunch
21285  21286         9681  Christmas common
21286  21287         9682            Muffin
21287  21288         9682      Tacos/Fajita
21288  21289         9682            Coffee
21289  21290         9682               Tea
21290  21291         9683            Coffee
21291  21292         9683            Pastry
21292  21293         9684         Smoothies

In [30]:
data

          id  Transaction           Item
0          1            1          Bread
1          2            2   Scandinavian
2          3            2   Scandinavian
3          4            3  Hot chocolate
4          5            3            Jam
...      ...          ...            ...
21288  21289         9682         Coffee
21289  21290         9682            Tea
21290  21291         9683         Coffee
21291  21292         9683         Pastry
21292  21293         9684      Smoothies

[21293 rows x 3 columns]

basket

In [32]:
# basket = data.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)
# basket


# basket = data.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)


basket= data.groupby(['Transaction','Item'])['id'].sum().unstack().fillna(0)
basket

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
1                   0.0  ...               0.0
2                   0.0  ...               0.0
3                   0.0  ...               0.0
4                   0.0  ...               0.0
5                   0.0  ...               0.0
...                 ...  ...               ...
9680                0.0  ...               0.0
9681                0.0  ...               0.0
9682                0.0  ...               0.0
9683                0.0  ...               0.0
9684                0.0  ...               0.0

[9531 rows x 95 columns]

In [33]:
basket.tail(10)

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
9674                0.0  ...               0.0
9676                0.0  ...               0.0
9677                0.0  ...               0.0
9678                0.0  ...               0.0
9679                0.0  ...               0.0
9680                0.0  ...               0.0
9681                0.0  ...               0.0
9682                0.0  ...               0.0
9683                0.0  ...               0.0
9684                0.0  ...               0.0

[10 rows x 95 columns]

In [34]:

basket=basket.applymap(lambda x:1 if x>0 else 0)

In [35]:

basket.tail(10)

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
9674                  0  ...                 0
9676                  0  ...                 0
9677                  0  ...                 0
9678                  0  ...                 0
9679                  0  ...                 0
9680                  0  ...                 0
9681                  0  ...                 0
9682                  0  ...                 0
9683                  0  ...                 0
9684                  0  ...                 0

[10 rows x 95 columns]

In [83]:
popular_sets = apriori(basket, min_support=1, use_colnames=True)

In [84]:
popular_sets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [61]:
rules = association_rules(popular_sets,metric='lift',min_threshold=0)

In [82]:
rules.tail(10)

         antecedents       consequents  ...  leverage  conviction
58            (NONE)             (Tea)  ...  0.007066    1.116309
59             (Tea)            (NONE)  ...  0.007066    1.057264
60        (Sandwich)             (Tea)  ...  0.004164    1.072946
61             (Tea)        (Sandwich)  ...  0.004164    1.032688
62   (Bread, Coffee)          (Pastry)  ...  0.003478    1.044430
63   (Bread, Pastry)          (Coffee)  ... -0.002636    0.852221
64  (Coffee, Pastry)           (Bread)  ... -0.004220    0.883073
65           (Bread)  (Coffee, Pastry)  ... -0.004220    0.986552
66          (Coffee)   (Bread, Pastry)  ... -0.002636    0.994319
67          (Pastry)   (Bread, Coffee)  ...  0.003478    1.046749

[10 rows x 9 columns]

In [63]:
data.head()

   id  Transaction           Item
0   1            1          Bread
1   2            2   Scandinavian
2   3            2   Scandinavian
3   4            3  Hot chocolate
4   5            3            Jam

In [69]:
rules.tail(50)

         antecedents       consequents  ...  leverage  conviction
18           (Bread)          (Pastry)  ...  0.001172    1.003961
19          (Pastry)           (Bread)  ...  0.001172    1.020731
20           (Bread)        (Sandwich)  ... -0.006291    0.979578
21        (Sandwich)           (Bread)  ... -0.006291    0.884472
22           (Bread)             (Tea)  ... -0.018117    0.939008
23             (Tea)           (Bread)  ... -0.018117    0.840712
24          (Coffee)         (Brownie)  ...  0.000624    1.001369
25         (Brownie)          (Coffee)  ...  0.000624    1.030799
26          (Coffee)            (Cake)  ...  0.005350    1.012717
27            (Cake)          (Coffee)  ...  0.005350    1.109667
28   (Hot chocolate)            (Cake)  ...  0.005358    1.115019
29            (Cake)   (Hot chocolate)  ...  0.005358    1.058364
30            (Cake)             (Tea)  ...  0.008999    1.113146
31             (Tea)            (Cake)  ...  0.008999    1.076235
32          (Coffee)         (Cookies)  ...  0.002343    1.005241
33         (Cookies)          (Coffee)  ...  0.002343    1.090053
34          (Coffee)   (Hot chocolate)  ...  0.001863    1.004180
35   (Hot chocolate)          (Coffee)  ...  0.001863    1.065276
36           (Juice)          (Coffee)  ...  0.002266    1.127031
37          (Coffee)           (Juice)  ...  0.002266    1.004984
38          (Coffee)       (Medialuna)  ...  0.005779    1.013129
39       (Medialuna)          (Coffee)  ...  0.005779    1.218561
40          (Coffee)          (Muffin)  ...  0.000532    1.001166
41          (Muffin)          (Coffee)  ...  0.000532    1.027260
42          (Coffee)            (NONE)  ...  0.004539    1.010483
43            (NONE)          (Coffee)  ...  0.004539    1.122908
44          (Coffee)          (Pastry)  ...  0.006590    1.015402
45          (Pastry)          (Coffee)  ...  0.006590    1.172079
46          (Coffee)        (Sandwich)  ...  0.004086    1.009348
47        (Sandwich)          (Coffee)  ...  0.004086    1.122468
48           (Scone)          (Coffee)  ...  0.001642    1.100310
49          (Coffee)           (Scone)  ...  0.001642    1.003592
50          (Coffee)            (Soup)  ... -0.000512    0.998886
51            (Soup)          (Coffee)  ... -0.000512    0.972293
52  (Spanish Brunch)          (Coffee)  ...  0.002233    1.308493
53          (Coffee)  (Spanish Brunch)  ...  0.002233    1.004810
54          (Coffee)             (Tea)  ... -0.017769    0.958245
55             (Tea)          (Coffee)  ... -0.017769    0.807107
56           (Toast)          (Coffee)  ...  0.007651    1.775789
57          (Coffee)           (Toast)  ...  0.007651    1.016943
58            (NONE)             (Tea)  ...  0.007066    1.116309
59             (Tea)            (NONE)  ...  0.007066    1.057264
60        (Sandwich)             (Tea)  ...  0.004164    1.072946
61             (Tea)        (Sandwich)  ...  0.004164    1.032688
62   (Bread, Coffee)          (Pastry)  ...  0.003478    1.044430
63   (Bread, Pastry)          (Coffee)  ... -0.002636    0.852221
64  (Coffee, Pastry)           (Bread)  ... -0.004220    0.883073
65           (Bread)  (Coffee, Pastry)  ... -0.004220    0.986552
66          (Coffee)   (Bread, Pastry)  ... -0.002636    0.994319
67          (Pastry)   (Bread, Coffee)  ...  0.003478    1.046749

[50 rows x 9 columns]

In [79]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.5) ]

         antecedents consequents  ...  leverage  conviction
3        (Alfajores)    (Coffee)  ...  0.002368    1.142861
27            (Cake)    (Coffee)  ...  0.005350    1.109667
33         (Cookies)    (Coffee)  ...  0.002343    1.090053
35   (Hot chocolate)    (Coffee)  ...  0.001863    1.065276
36           (Juice)    (Coffee)  ...  0.002266    1.127031
39       (Medialuna)    (Coffee)  ...  0.005779    1.218561
43            (NONE)    (Coffee)  ...  0.004539    1.122908
45          (Pastry)    (Coffee)  ...  0.006590    1.172079
47        (Sandwich)    (Coffee)  ...  0.004086    1.122468
48           (Scone)    (Coffee)  ...  0.001642    1.100310
52  (Spanish Brunch)    (Coffee)  ...  0.002233    1.308493
56           (Toast)    (Coffee)  ...  0.007651    1.775789

[12 rows x 9 columns]

In [72]:
rules['antecedents'][3]

frozenset({'Alfajores'})

In [81]:
basket['Coffee'].sum()

4528

In [86]:
basket['Alfajores'].sum()

344